.background {
    background-image: url(./hardware.png);
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    outline:solid;
    outline-color: white;
}
.title {
    background-image: url(./headline.gif);
    opacity: 100%;
    text-align: center;
    font-family: "Redaction_50-Regular";
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    outline: groove;
}
.foreground {
    text-align: center;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
    padding: 1%;
    background-image: url(./main.gif);
    font-family: dosfont;
}

.marquee {
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    outline: groove;
    outline-color: white;
    padding: 0.5%;
}

.lastfm {
    margin: 2.5%;
    background-image: url(./main.gif);
}

a {
    color: red;
}

a:link {
    color: lightblue;
}

#jukebox_title {
    margin-left: 10%;
    margin-right: 10%;
    font-family: calculator;
    color: #2fbcff;
    background-color: black;
    vertical-align: middle;
    font-size: 25px;
    height: 30px;
    outline: groove;
    outline-color: white;
    text-align: center;
}

#solar-data{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
    padding: 1%;
    text-align: center;
}
.blogSubtitle{
    font-family: dosfont;
}


@font-face {
    font-family: "Redaction_50-Regular";
    src: url(./Redaction_50-Regular.ttf);
}
@font-face {
    font-family: "dosfont";
    src: url(./OffBit-DotBold.ttf);
}
@font-face {
    font-family: "calculator";
    src: url(./Calculator.ttf);
}
